.form {
  text-align: center;
  background-color: rgba(178,181,255,0.23);
  height: 100%;

}


.label{
  display: block;
  font-size: larger;
  color: black;
  padding: 5px;
  border-radius: 30px;
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  margin: 8px;

}

.label2{
  display: block;
  font-size: larger;
  color: black;
  padding: 5px 20px;
  border-radius: 30px;
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  margin: 10px;

}


.checkbox{
  display: inline-block;
  font-size: medium;
  position: relative;
  color: black;
  padding: 5px;
}


.input{
  font-size: larger;
  padding: 5px;
  margin: 2px;

}
.btn{
  color: white;
  background-color: cornflowerblue;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 10px 10px;
  margin: 25px auto;

}

.messages{
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  padding: 20px;
}

.error{
  display: block;
  background-color: rgba(57,57,125,0.89);
  font-family: Helvetica, sans-serif;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}


.headline{
  color: black;
  text-align: center;
  font-family: Helvetica, sans-serif;

}

.headline2{
  color: lightgray;
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin: 5px;
  padding: 40px;
}

.headline2{
  color: rgba(41,41,40,0.8);
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: xx-small;
  margin: 5px;
  padding: 40px;
}

.label3{
  margin: 20px;
  font-family: Helvetica, sans-serif;

}