.form2 {
    text-align: center;
    background-color:rgba(178,181,255,0.23);
    height: 4000px;

}

.headline{
    color: black;
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 30px;
}